.banner-show {
  border-radius: 20px;
  width: 100%;
}

.review-wall {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  -moz-box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  border-radius: 20px;
  padding: 20px;
}

.messag-btn {
  background: #ef32d9;
  background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);
  background: linear-gradient(to left, #ef32d9, #89fffd);
  border-radius: 20px;
  padding: 12px;
  color: white;
  font-weight: bold;
  -webkit-box-shadow: -5px 6px 5px 0px rgba(52, 50, 50, 0.15);
  -moz-box-shadow: -5px 6px 5px 0px rgba(52, 50, 50, 0.15);
  box-shadow: -5px 6px 5px 0px rgba(52, 50, 50, 0.15);
}

.review-cont-input {
  border-radius: 20px;
}

.review-box {
  .date-string {
    font-weight: lighter;
    font-size: 12px;
  }
}

.review-card {
  background-color: #fcf7fb;
  border-radius: 20px;
  opacity: 0.5;
  margin-bottom: 16px;
  -webkit-box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  -moz-box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  box-shadow: 9px 10px 22px 0px rgba(92,0,92,0.39);
  .small-avatar {
    margin: 4px;
  }
}

.review-info p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.adoption-btn {
  position: absolute;
  bottom: 130px;
  right: 38px;
}
