<div class="container">
  <div class="cards-grid">
        <% @dolls.each do |doll| %>
      <%= link_to doll_path(doll.id) do %>
        <div class="doll-card">
          <div class="doll-picture">
            <%= cl_image_tag doll.photo.key %>
          </div>
          <div class="doll-name-desc text-center mt-4 pb-4">
            <%= doll.name %>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
