<div class="container">

  <div class="banner-home d-flex">

    <div class="home-btns">
      <div class="browse-dolls">
        <%= link_to "Meet my friends", dolls_path %>
      </div>

      <% if !user_signed_in? %>
        <div class="fan-club-btn">
          <%= link_to "Join the fanclub", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="forum-coco">
    <h4>The Coco forum</h4>
    <p>Join the community and make new friends. You can choose one of our channels.</p>
    <ul>
      <li class="colored-li">General</li>
      <li>Blythe customization</li>
      <li class="colored-li">Requests</li>
      <li>Off-topic</li>
    </ul>
  </div>

</div>
