<div class="container">
  <%= link_to dolls_path do %>
    <div class="banner-home d-flex home-card">
      <div class="home-btns">
        <div class="browse-dolls mt-2 ml-2">
          <p>Meet my friends</p>
        </div>
      </div>
    </div>
  <% end %>
  <div class="forum-coco home-card">
    <h4 class="mt-3">The Coco forum</h4>
    <p>Shall we get together? Join the community and make new friends!! You can choose one of our channels to start chatting. 💃</p> <br>
      <div class="forum-c colored-li"><a>#General</a></div>
      <div class="forum-c"><a>#Blythe customization</a></div>
      <div class="forum-c colored-li"><a>#Requests</a></div>
      <div class="forum-c"><a>#Fashion</a></div>
      <div class="forum-c colored-li mb-5"><a>#Off-topic</a></div>
  </div>

  <div class="follow-ig home-card">
    <h4> <a href="https://www.instagram.com/la_cocco_violette/" target="_blank">Follow me on Instagram</a></h4>
  </div>

</div>
