<div class="container">

  <div class="banner-home d-flex">

    <div class="home-btns">
      <div class="browse-dolls">
        <%= link_to "Meet my friends ✨", dolls_path %>

      </div>

      <% if !user_signed_in? %>
        <div class="fan-club-btn">
          <%= link_to "Join the coco fanclub", new_user_session_path %>
        </div>
      <% end %>
    </div>

    <div class="coco-image-home">
      <%= image_tag "https://res.cloudinary.com/drd5lqxx9/image/upload/v1608196289/Captura_de_pantalla_2020-12-13_a_las_18.38.03-removebg-preview_wzbcr4.png" %>
    </div>
  </div>

</div>
