.login-form {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 16px;
  .form-inputs {
    border-radius: 20px;
  }
  .form-actions {
    background: #ef32d9;
    background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);
    background: linear-gradient(to left, #ef32d9, #89fffd);
    border-radius: 20px;
    width: 25vw;
    .btn {
      color: white !important;
      font-weight: bolder !important;
    }
  }
}
