// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/doll_card";
@import "components/login";
@import "pages/order";
@import "pages/chatroom";

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}

.form-inputs {
  border-radius: 20px;
}

body {
  font-family: 'Montserrat', sans-serif;
}
