<div class="review-card d-flex">
  <div class="small-avatar" style="background-image: url(<%= @review.user.photo_url %>)"></div>
  <div class="review-info">
    <p><%= @review.content %></p>
    <p class="date-string"><%= @review.created_at.strftime("%-d %b %Y, %H:%M") %></p>
  </div>
</div>
